header{
    margin: 0;
}
.menuicon{
    width: 20px;
  height: 2.5px;
  background-color: rgb(162, 155, 155);
  margin: 4px 25px 5px 15px;
}
#logo{
    height: 25px;
}
nav{
    display:inline-flex;
}
#brand{
    margin: 0 0 0 2px;
    font-size: 26px;
}
#search{
   display:inline-flex;
    margin-left: 200px;  
}
#searchbar{
    height: 30px;
    width: 550px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #979292;
    font-size: 15px;
}
#mgicon{
 height: 28px;
 border: 1px solid #979292;
 padding: 2px;
 border-radius: 0px 10px 10px 0px;
}
#voiceicon{
    height: 25px;
    margin: 2px 0 0 20px;

}
#rightside{
    float: right;
    margin-right: 0;
}
#upload{

    height: 27px;
    margin: 0 0 0 125px;
}
#bell{
    height: 27px;
    margin: 0 30px 0 20px;
}
#mainvid{
    float: left;
    margin: 30px 10px 0 70px;
}
#mainvid iframe{
    width: 900px;
    height: 500px;
}
#othervid{
 float: left; 
 margin-left: 30px;
}
#othervid iframe{
    width: 180px;
    height: 104px; 
    display: table-row;
    margin: 10px 5px 10px 0;
    border-radius: 5px;
}

#titles{
    margin-top: 10px;
    float: left;
    display: table-row;
    width: 260px;
}

div p{
    margin: 55px 30px 80px 0px;
    font-weight: bold;
    font-size: 15px;
}